*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-container{
    display: flex;
    flex-direction: column;
}
.personal-informations{
    width: 100%;
    height: 45vh;
    background-color: #6c9a8b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}
.personal-image, .personal-data, .personal-buttons{
    width: 33%;
}
.control-image{
    margin-top: calc(50% - 220px);
}
.image{
    width: 170px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
}
.image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: calc(50% - 75px);
    margin-top: calc(50% - 75px);
}
.control-image p{
    text-align: center;
    font-size: 1.5em;
    margin-top: -5px;
    color: #eed2cc;
}
.control-image button,.button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    border-radius: 10px;
    background-color: #e8998d;
    color: white;
    width: 130px;
    padding: 7px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    background-color: #6c9a8b;
    border: 2px solid #eed2cc;
}
.control-data{
    margin-top: calc(50% - 190px);
    margin-left: -20px;
}
.personal-buttons p{
    font-size: 1.3em;
    text-align: center;
    color: #eed2cc;
    margin-top: 20px;
}
.name-surname{
    display: flex;
    font-size: 1.7em;
}
.personal-informations input{
    border-radius: 10px;
    border: none;
    background-color: #6c9a8b;
    padding: 10px;
    color: #eed2cc;
    font-size: 23px;
}
.info{
    display: flex;
}
.name-surname input{
    font-size: 25px;
    width: 150px;
}
.personal-info, .living-info{
    width: 50%;
    margin-left: 10px;
    font-size: 1.4em;
}
.living-info input{
    margin-left: 20px;
}
.control-buttons{
    margin-top: calc(30% - 65px);
}
.control-buttons button{
    display: block;
    cursor: pointer;
}
.uredi{
    margin-right: 40px;
}
.reservation-history{
    width: 100%;
    height: 55vh;
}
.header{
    display: flex;
    margin-top: 10px;
}
.title{
    width: 20%;
}
.title h2{
    text-align: center;
}
.lefthr, .righthr{
    height: 2px;
    background-color: grey;
    margin-top: 15px;
    width: 40%;
}
table, th, td {
    padding-left: 30px;
    padding-right: 30px;
}
th{
    width: 12%;
}
.table-reservation{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.button-container-controll{
    display: none;
    margin-left: 40%;
}
.list{
    display: inline-block;
    margin-right: 15px;
}
.passwordC{
    display: none;
}
.current label, .new label, .new-match label{
    display: block;
    color:#eed2cc;
    font-size: 1.3em;
    margin-top: 7px;
    margin-bottom: 7px;
}
.current input, .new input, .new-match input{
    border-bottom: 1px solid #e8998d;
    padding: 3px;
    color: white;
    font-size: 1.1em;
    border-radius: 0px;
}
.passwordButton button{
    display: inline-block;
    margin-right: 10px;
}
.passwordC{
    margin-top: 10%;
    margin-left: calc(50% - 160px);
}
.historyPhoto{
    width: 50px;
    height: 50px;
}
.position{
    margin-right: 60px;
}