html{
    margin: 0;
    width:100%;
    height:100%;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainspace{
    background-color: #709b8b;
    width:80%;
    height:90%;
    text-align: center;
    border-radius: 14px;

}
.registracija{
    padding-top: 5px;
    text-align: center;

}
.registracijabtn{
    text-align: center;
}
.inputs{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80%;
    margin-left: 25px;
    text-align: center;
}
.personaldata{
    width:50%;
    padding-top:30px;
}
.adressdata{
    width:50%;
    padding-top:30px;
}
.inplbl{
    text-align: left;
    display:grid;
    padding-left: 140px;
    padding-top: 10px;
}
input{
    width: 340px;
    height:30px;
    border-style: none;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 5px;
}
.comboboxGrad{
    width: 340px;
    height:30px;
    border-style: none;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 5px;
}
.comboboxDrzava{
    width: 340px;
    height:30px;
    border-style: none;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 5px;
}
.registracijatxt{
    font-size: 35px;
}
.lblpersonaldata{
    font-size:25px;
    text-align: center;
    padding-left: 35px;
}
.lbladressdata{
    font-size:25px;
    text-align: center;
    padding-left: 175px;

}
.inputlabel{
    font-size: 20px;
}
.datum{
    width:170px
}
.cbrules{
    width: 20px;
}
.chbox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 95px;
    padding-top: 15px;
}
.chtext{
    font-size: 20px;
    padding-left: 5px;
    width:330px;
    text-align: left;
}
.cbyears{
    width: 20px;
}
.verticalline{
    position: absolute;
    left: 50%; /* Adjust the position as needed */
    top: -7%;
    bottom: 0;
    border-left: 1px solid #eccdbc; /* Set the color and thickness of your line */
    content: "";
    margin-top: 170px;
    height: 470px;
}
button{
    margin-top: 15px;
    width:290px;
    height: 60px;
    font-size: 20px;
    color:white;
    border-style: none;
    border-radius: 7px;
    background-color: #e8998d;
    transition: 0.5s;
    font-weight: bold;
}
button:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
        background-color: #6c9a8b;
        border: 2px solid #e8998d;
}
label{
 color: #eccdbc;
}
